################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DebtorsSystem/v15
/.vs
/DebtorsSystem/bin
/DebtorsSystem/obj
/DebtorsSystem/Properties