@{
    ViewData["Title"] = "Возмещение средств";
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/semantic.min.js"></script>
<script src="~/js/dropdown.min.js"></script>
<script src="~/js/calendar.min.js"></script>
<link href="~/css/semantic.css" rel="stylesheet" type="text/css" />
<link href="~/css/dropdown.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/calendar.min.css" rel="stylesheet" type="text/css" />
<h2>Edit</h2>
<div id="mainform" style=" margin-left:5%; margin-right:5%">
    <form class="ui form" id="debtorAddForm" onsubmit="return false;">
        <div class=" field">
            <label>ФИО</label>
            <input name="FIO" type="text" placeholder="ФИО">
        </div>

        <div class=" field">
            <label>Номер</label>
            <input name="Number" type="text" placeholder="Номер">
        </div>

        <div class="field">
            <label>Дата выпуска</label>
            <input type="text" placeholder="Дата выпуска" name="DateIssue">
        </div>
        <div class=" field">
            <label>Уровень подготовки</label>
            <div class="ui selection dropdown" style="margin-top:1%;margin-bottom:1% ">

                <input type="hidden" name="TrainingLevel">
                <i class="dropdown icon"></i>
                <div class="default text">Уровень подготовки</div>
                <div class="menu">
                    <div class="item" data-value="1">ПТО</div>
                    <div class="item" data-value="0">ССО</div>
                </div>
            </div>
        </div>
        <div class=" field">
            <label>Адрес</label>
            <input type="text" placeholder="Адрес" name="Address">
        </div>

        <div class=" field">
            <label>Отметка о прибытии по месту распределения</label>
            <div class="ui selection dropdown" style="margin-top:1%;margin-bottom:1% ">

                <input type="hidden" name="IsWorkStarted">
                <i class="dropdown icon"></i>
                <div class="default text">Отметка о прибытии по месту распределения</div>
                <div class="menu">
                    <div class="item" data-value="1">Да</div>
                    <div class="item" data-value="0">Нет</div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Дата приступления к работе</label>
            <input type="text" placeholder="Дата приступления к работе" name="DateWorkStarted">
        </div>

        <div class="field">
            <label>Дата увольнения</label>
            <input type="text" placeholder="Дата увольнения" name="DateWorkStopped">
        </div>

        <div class="field">
            <label>Дата уведомления выпускника</label>
            <input type="text" placeholder="Дата уведомления выпускника" name="DateRefund">
        </div>

        <div class=" field">
            <label>Сумма возмещения</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundAmount">
        </div>

        <div class=" field">
            <label>Сумма, возмещённая до суда</label>
            <input type="text" placeholder="Сумма, возмещённая до суда" name="RefundBeforeTrial">
        </div>

        <div class="field">
            <label>Дата суда</label>
            <input type="text" placeholder="Дата суда" name="DateTrial">
        </div>

        <div class=" field">
            <label>Сумма, возмещённая после суда</label>
            <input type="text" placeholder="Сумма возмещения после суда" name="RefundAfterTrial">
        </div>

        <div class="field">
            <label>Дата остановки исполнительного производства</label>
            <input type="text" placeholder="Дата остановки исполнительного производства" name="DateExecution">
        </div>

        <div class="field">
            <label>Дата постановления о возбуждении исполнительного производства</label>
            <input type="text" placeholder="Дата постановления о возбуждении исполнительного производства" name="DateResumptionExecution">
        </div>

        <div class="field">
            <label>Переписка</label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 112px;" name="Mails"></textarea>
        </div>

        <div id="addButton" class="ui submit button">Добавить</div>
        <div class="ui error message"></div>
    </form>
</div>

<script>
    //$('#DateIssue, #DateRefund, #DateTrial, #DateExecution, #DateWorkStarted, #DateWorkStopped, #DateResumptionExecution').calendar({
    //    type: 'date',
    //    firstDayOfWeek: 1,
    //    formatInput: false,
    //    text: {
    //        days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
    //        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    //        monthsShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
    //        today: 'Сегодня'
    //    },
    //});
    $('.ui.dropdown')
        .dropdown();

    $('.ui.form')
        .form({
            on: 'blur',
            fields: {
                FIO: {
                    identifier: 'FIO',
                    rules: [{
                        type: 'empty',
                        prompt: 'Введите ФИО'
                    }]
                },
                        Number: {
                    identifier: 'Number',
                    rules: [{
                        type: 'empty',
                        prompt: 'Введите номер'
                    }]
                },
                RefundAmount: {
                    identifier: 'RefundAmount',
                    rules: [{
                        type: 'regExp',
                        value: /^[0-9]{1,5},?[0-9]{1,5}$/i,
                        prompt: 'Сумма возмещения введена некорректно! Введите сумму в через запятую: "134,76"'
                    }]
                },
                RefundBeforeTrial: {
                    identifier: 'RefundBeforeTrial',
                    optional: true,
                    rules: [{
                        type: 'regExp',
                        value: /^[0-9]{1,5},?[0-9]{1,5}$/i,
                        prompt: 'Сумма возмещения до суда введена некорректно! Введите сумму в через запятую: "134,76"'
                    }]
                },
                RefundAfterTrial: {
                    identifier: 'RefundAfterTrial',
                    optional: true,
                    rules: [{
                        type: 'regExp',
                        value: /^[0-9]{1,5},?[0-9]{1,5}$/i,
                        prompt: 'Сумма возмещения после суда введена некорректно! Введите сумму в через запятую: "134,76"'
                    }]
                },
                TrainingLevel: {
                    identifier: 'TrainingLevel',
                    rules: [{
                        type: 'empty',
                        prompt: 'Введите уровень подготовки'
                    }]
                },
                Address: {
                    identifier: 'Address',
                    rules: [{
                        type: 'empty',
                        prompt: 'Введите адрес'
                    }]
                },
                DateIssue: {
                    identifier: 'DateIssue',
                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата выпуска введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }
                    ],
                },
                DateWorkStarted: {
                    identifier: 'DateWorkStarted',
                    optional: true,
                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата приступления к работе введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                },
                DateWorkStopped: {
                    identifier: 'DateWorkStopped',
                    optional: true,
                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата увольнения введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                },
                DateRefund: {
                    identifier: 'DateRefund',
                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата уведомления введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                },
                DateTrial: {
                    identifier: 'DateTrial',
                    optional: true,

                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата суда введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                },
                DateExecution: {
                    identifier: 'DateExecution',
                    optional: true,

                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата остановки исполнительного производства введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                },
                DateResumptionExecution: {
                    identifier: 'DateResumptionExecution',
                    optional: true,

                    rules: [{
                        type: 'regExp',
                        value: /^\d{1,2}[.]\d{1,2}[.]\d{4}$/g,
                        prompt: 'Дата восстановления исполнительного производства введена некорректно! Введите дату в формате "дд/мм/гггг" ("03.5.2019")'
                    }]
                }
            }
        })

    var $debtorAddForm = $('#debtorAddForm');
    $('#addButton').on('click', function () {
        if ($debtorAddForm.form('is valid'))     {
            $mydata = {
                'FIO': $debtorAddForm.form('get value', 'FIO'),
                'Number': $debtorAddForm.form('get value', 'Number'),
                'DateIssue': $debtorAddForm.form('get value', 'DateIssue'),
                'TrainingLevel': $debtorAddForm.form('get value', 'TrainingLevel'),
                'Address': $debtorAddForm.form('get value', 'Address'),
                'IsWorkStarted': $debtorAddForm.form('get value', 'IsWorkStarted'),
                'DateWorkStarted': $debtorAddForm.form('get value', 'DateWorkStarted'),
                'DateWorkStopped': $debtorAddForm.form('get value', 'DateWorkStopped'),
                'RefundAmount': $debtorAddForm.form('get value', 'RefundAmount'),
                'DateRefund': $debtorAddForm.form('get value', 'DateRefund'),
                'RefundBeforeTrial': $debtorAddForm.form('get value', 'RefundBeforeTrial'),
                'DateTrial': $debtorAddForm.form('get value', 'DateTrial'),
                'RefundAfterTrial': $debtorAddForm.form('get value', 'RefundAfterTrial'),
                'DateExecution': $debtorAddForm.form('get value', 'DateExecution'),
                'DateResumptionExecution': $debtorAddForm.form('get value', 'DateResumptionExecution'),
                'Mails': $debtorAddForm.form('get value', 'Mails')

            }
            console.log($mydata);
            $.ajax({
                url: '/debtor/Add',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify($mydata),
                success: function (data) {
                    window.location = "@Url.Action("Index", "Debtor")";
                },
                async: true
            });
        }
    })

    
</script>