@{
    ViewData["Title"] = "Add";
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/semantic.min.js"></script>
<script src="~/js/dropdown.min.js"></script>
<script src="~/js/calendar.min.js"></script>
<link href="~/css/semantic.css" rel="stylesheet" type="text/css" />
<link href="~/css/dropdown.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/calendar.min.css" rel="stylesheet" type="text/css" />
<h2>Edit</h2>
<div id="mainform" style=" margin-left:5%; margin-right:5%">
    <form class="ui form" id="debtorAddForm" onsubmit="return false;">
        <div class=" field">
            <label>ФИО</label>
            <input name="FIO" type="text" placeholder="ФИО">
        </div>
        <div class=" field">
            <label>Дата выпуска</label>
            <div class="ui calendar" id="DateIssue">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateIssue">
                </div>
            </div>
        </div>

        <div class="ui selection dropdown" style="margin-top:1%;margin-bottom:1% ">
            <input type="hidden" name="TrainingLevel">
            <i class="dropdown icon"></i>
            <div class="default text">Уровень подготовки</div>
            <div class="menu">
                <div class="item" data-value="1">ПТО</div>
                <div class="item" data-value="0">ССО</div>
            </div>
        </div>

        <div class=" field">
            <label>Адрес</label>
            <input type="text" placeholder="Адрес" name="Address">
        </div>

        <div class="ui checkbox">
            <input name="WorkStarted" id="WorkStarted" type="checkbox">
            <label>Приступил к работе</label>
        </div>

        <div class=" field">
            <label>Сумма возмещения</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundAmount">
        </div>

        <div class=" field">
            <label>Дата приказа о возмещении</label>
            <div class="ui calendar" id="DateRefund">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateRefund">
                </div>
            </div>
        </div>

        <div class=" field">
            <label>Сумма, возмещённая до суда</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundBeforeTrial">
        </div>

        <div class=" field">
            <label>Дата суда</label>
            <div class="ui calendar" id="DateTrial">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateTrial">
                </div>
            </div>
        </div>

        <div class=" field">
            <label>Сумма, возмещённая после суда</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundAfterTrial">
        </div>

        <div class=" ui checkbox">
            <input type="checkbox" name="ExecutionStopped">
            <label>Остановлено исполнительное производство</label>
        </div>

        <div class=" field">
            <label>Дата остановления исполнительного производства</label>
            <div class="ui calendar" id="DateExecution">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateExecution">
                </div>
            </div>
        </div>

        <div id="addButton" class="ui submit button">Добавить</div>

    </form>
</div>

<script>
    $('#DateIssue, #DateRefund, #DateTrial, #DateExecution').calendar({
        type: 'date',
        firstDayOfWeek: 1,
        formatInput: false,
        text: {
            days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            today: 'Сегодня'
        },
    });
    $('.ui.dropdown')
        .dropdown();
    $('.ui.checkbox').checkbox();

    var $debtorAddForm = $('#debtorAddForm');
    $('#addButton').on('click', function () {
        $mydata = {
            'FIO': $debtorAddForm.form('get value', 'FIO'),
            'DateIssue': $debtorAddForm.form('get value', 'DateIssue'),
            'TrainingLevel': $debtorAddForm.form('get value', 'TrainingLevel'),
            'Address': $debtorAddForm.form('get value', 'Address'),
            'WorkStarted': $debtorAddForm.form('get value', 'WorkStarted'),
            'RefundAmount': $debtorAddForm.form('get value', 'RefundAmount'),
            'DateRefund': $debtorAddForm.form('get value', 'DateRefund'),
            'RefundBeforeTrial': $debtorAddForm.form('get value', 'RefundBeforeTrial'),
            'DateTrial': $debtorAddForm.form('get value', 'DateTrial'),
            'RefundAfterTrial': $debtorAddForm.form('get value', 'RefundAfterTrial'),
            'DateExecution': $debtorAddForm.form('get value', 'DateExecution'),
            'ExecutionStopped': $debtorAddForm.form('get value', 'ExecutionStopped')
        }
        console.log($mydata);
        $.ajax({
            url: '/debtor/Add',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify($mydata),
            success: function (data) {
                 window.location = "@Url.Action("Index", "Debtor")";
            },
            async: true
        });
    })
</script>